@media only screen and (min-device-width: 737px) {
  .wrapper {
    padding: 0 230px;
  }
  .filter {
    gap: 2em;
    background-color: #ffffff;
    padding: 22px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 1em 0;
  }

  .card-item:hover .card-image {
    transform: scale(1.05, 1.05);
    filter: contrast(100%);
  }

  .card-item:hover .card-intro {
    display: -webkit-box;
  }

  .card-item:hover .card-intro-border {
    display: block;
  }

  .load-more {
    width: 200px;
  }
}
