@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait)  {
  h1 {
    font-size: 1.8em;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {
  h1 {
    font-size: 1.5em;
  }
}

.main {
  margin: 0 1em;
}
.filter {
  gap: 1em;
  flex-direction: column;
  margin-bottom: 1em;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.load-more {
  width: 100%;
}

.card-item:active .card-image {
  transform: scale(1.05, 1.05);
  filter: contrast(100%);
}
.card-item:active .card-intro {
  display: -webkit-box;
}
.card-item:active .card-intro-border {
  display: block;
}
